version: '3.8'

services:
  app:
    build: .
    container_name: pingme-app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
      - LOG_FILE=/app/logs/app.log
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_HOST=db
      - DB_PORT=5432
    ports:
      - "8000:8000"
      - "465:465"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - .:/app
      - app_logs:/app/logs
    networks:
      - app_network


  db:
    image: postgres:17.2
    container_name: pingme-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5


  redis:
    image: redis:7
    container_name: pingme-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network
    restart: unless-stopped


volumes:
  postgres_data:
  redis_data:
  pgadmin_data:
  app_logs:

networks:
  app_network:
    driver: bridge 