version: '3.8'

services:
  app:
    image: ghcr.io/topnik073/pingme:${IMAGE_TAG:-latest}
    container_name: pingme-app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
      - LOG_FILE=/app/logs/app.log
    ports:
      - "8000:8000"
      - "465:465"
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - app_logs:/app/logs
    networks:
      - app_network


  db:
    image: postgres:17.2
    container_name: pingme-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network


  redis:
    image: redis:7
    container_name: pingme-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network
    restart: unless-stopped


volumes:
  postgres_data:
  redis_data:
  app_logs:

networks:
  app_network:
    driver: bridge