name: Deploy to Server

on:
  workflow_dispatch:
#  push:
#    branches: ["main"]

permissions:
  contents: read
  packages: write

env:
  IMAGE_TAG: ${{ github.sha }}
  REGISTRY: ghcr.io
  REPOSITORY_NAME: pingme
  IMAGE_NAME: TopNik073/pingme

jobs:
  build:
    name: Build & Push Docker image
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    name: Deploy to Server
    runs-on: ubuntu-latest
    needs: build
    environment: prod

    steps:
      - name: Checkout only docker-compose file
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            docker-compose.prod.yml
          sparse-checkout-cone-mode: false

      - name: Upload .env to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script_stop: true
          script: |
            echo "${{ vars.ENV_FILE }}" | grep -v "DRONE_SSH" > /root/${{ env.REPOSITORY_NAME }}/.env
            echo ".env uploaded to server"

      - name: Copy docker-compose file to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "docker-compose.prod.yml"
          target: "/root/${{ env.REPOSITORY_NAME }}/"

      - name: Deploy on remote server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "Starting deployment with image tag: ${{ env.IMAGE_TAG }}"

            docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.SERVER_GHCR_TOKEN }}

            cd /root/${{ env.REPOSITORY_NAME }} 

            echo "Pulling application image..."
            docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

            IMAGE_TAG=${{ env.IMAGE_TAG }} docker compose -f docker-compose.prod.yml pull
            IMAGE_TAG=${{ env.IMAGE_TAG }} docker compose -f docker-compose.prod.yml up -d --remove-orphans

            echo "Deployment complete"